<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MCD_MCP_TOKEN</key>
    <string>YOUR_TOKEN_HERE</string>
    <key>GOOGLE_CLIENT_ID</key>
    <string>YOUR_GOOGLE_CLIENT_ID</string>
    <key>GITHUB_CLIENT_ID</key>
    <string>YOUR_GITHUB_CLIENT_ID</string>
</dict>
</plist>
